.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 23px;
    height: 23px;
    background-color: #f50057;
    border: 2px solid #fff;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);
    
  }