.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -90%);
}

.pin {
  width: 2px;
  height: 15px;
  background-color: #fa5892;
  box-shadow: 1px 0px 1px grey;
}
